html, body {
    height: 100%;
    background-color: #f5f5f5;
}

.form-content {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: #b1192f;
}

.btn {
    background-color: #b1192f;
    border-color: #b1192f;
    color: white;
}

.btn:hover {
    background-color: darkred;
    border-color: darkred;
}

.btn:focus {
    background-color: red;
    box-shadow: none;;
}

.create-account {
    color: #b1192f;
}

.create-account:hover {
    color: darkred;
    text-decoration: none;
}