body {
    background-color: #f5f5f5;
}
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.link{
    color: #676767;
}

.link:hover{
    text-decoration: none;
    color: #ff5722;
}

.btn-outline-primary{
    border-color: #b1192f;
    color: #b1192f;
}

.btn-outline-primary:hover{
    border-color: #b1192f;
    background-color: #b1192f;
    color:#f5f5f5;
}

.btn {
    background-color: #b1192f;
    color: #f5f5f5;
}

.btn:hover {
    background-color: darkred;
    border-color: darkred;
}

.btn:focus {
    background-color: #b1192f;
    box-shadow: none;;
}

.table {
    background-color: #676767;
    color: #f5f5f5;
}

.form-control:focus {
    box-shadow: none;
    border-color: #b1192f;
}

.form {
    width: 100%;
    max-width: 330px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}
.form .btn{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}

.page-link{
    color: #b1192f;
}

.table .btn {
    margin: 1px 5px;
}
.table a{
    color: #f5f5f5;
}